@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(./images/bg-intro-desktop.png);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

.container > div {
    flex: 50%;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

p {
    font-size: 15px;
    opacity: 0.8;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px rgba(0,0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.box p {
    text-align: center;
    margin: 0;
}

.box-blue {
    background-color:hsl(248, 32%, 49%);
}

input {
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    font-size: 12px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 15px 25px;
}

input:focus {
    border: 1.5px solid hsl(248, 32%, 49%);
    outline: none;
}

button {
    background-color:hsl(154, 59%, 51%);
    border-radius: 5px;
    border: 1px solid hsl(154, 59%, 40%);
    border-bottom: 3px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 15px 25px
    
}

button:focus {
    outline: none;
}

button:active {
    border-bottom-width: 1px;
    transform: translateY(2px);
}

.attribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}