@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    
    /* Background gradient: -/ */
    
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    
    
    /* #### Text */
    
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* #### Dividers */
    
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue));
    color: var(--Very-dark-grayish-blue);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 25px;
}
.main-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image-container{
    width: 50%; 
}
.mobile-design{
    display: none;
}
.desktop-design{
    width: 50%;
}
.desktop-pattern{
    position:relative;

}
.desktop-version{
    position:relative;
}
.illustration-box{
    position:relative;
}