@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primaryOrange: hsl(25, 97%, 53%);

  --neutralWhite: hsl(0, 0%, 100%);
  --neutralLightGrey: hsl(217, 12%, 63%);
  --neutralMediumGrey: hsl(216, 12%, 53%);
  --neutralDarkBlue: hsl(213, 19%, 15%);
  --neutralVeryDarkBlue: hsl(216, 12%, 8%);

  --paragraphFontSize: 15px;

  --fontWeightlight: 400;
  --fontWeigthThick: 600;

  --fontFamily: "Overpass", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--neutralVeryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontFamily);
  font-size: var(--paragraphFontSize);
  margin: 0;
  top: 0;
  min-height: 100vh;
}
/*all section before js and hoover*/
.container {
  background-color: var(--neutralDarkBlue);
  border-radius: 2rem;
  padding: 2rem;
  height: 25.9rem;
  width: 25.6rem;
}
.star-image {
    width: 3rem;
    background-color: hsl(212, 16%, 19%);
    border-radius: 50%;
    border: 15px solid hsl(212, 16%, 19%);
}
.main-text{
    margin-top: 2.1rem;
    line-height: 1.5em;
}
h1 {
  color: var(--neutralWhite);
  font-size: 1.7em;
  font-weight: var(--fontWeigthThick);
}
p {
  color: var(--neutralMediumGrey);
  font-weight: var(--fontWeightlight);
  line-height: 1.6em;
}
.rating {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.input-rating {
  background-color: hsl(212, 16%, 19%);
  border-radius: 50%;
  border: none;
  color: var(--neutralLightGrey);
  cursor: pointer;
  font-size: var(--paragraphFontSize);
  font-weight: var(--fontWeigthThick);
  padding: 15px 20px;
  outline-width: 0;
  outline: none;
  user-select: none;
}
.state-rating button {
  color: var(--neutralWhite);
  cursor: pointer;
  background-color: var(--primaryOrange);
  border: none;
  border-radius: 3rem;
  font-weight: var(--fontWeigthThick);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 0;
  margin-top: 2.4rem;
  width: 100%;
}
.state-thanks {
  display: none;
}
.selection {
  color: var(--primaryOrange);
  padding: 10px 15px;
  border-radius: 2rem;
  background-color: hsl(212, 16%, 21%);
}

/* hoover */
.state-rating button:hover {
    color: var(--primaryOrange);
    background-color: var(--neutralWhite);
}
.input-rating:hover {
    color: var(--neutralWhite);
    background-color: var(--neutralLightGrey);
}
/* focus */
.input-rating:focus{
    color: var(--neutralWhite);
    background-color: var(--primaryOrange);
}

/* after js */
#activeRating{
  display:none;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .state-rating {
    display: none;
  }
  .state-thanks #ar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
