@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(233, 47%, 7%);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  max-width: 1440px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 10px;
  background: hsl(244, 38%, 16%);
  width: 76%;
}
/* text box */
.main-text {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 50%;
}
.main-text h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  font-weight: 700;
}
.main-text .insights {
  color: hsl(277, 64%, 61%);
}
.main-text p {
  color: hsla(0, 0%, 100%, 0.75);
  opacity: 0.8;
  max-width: 90%;
  line-height: 1.5rem;
  margin-top: -0.3rem;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin: 3.2rem 0;
  width: 85%;
}
.stats h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 3px;
}
.stats span {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 1px;
}
.stats .category-3 {
  text-align: center;
  text-transform: uppercase;
}
.stats .category-2{
  text-align: center;
}
.stats .category-1{
  text-align: center;
}

/* desktop image */

.purple-background {
  position: relative;
  min-width: 50%;
  overflow: hidden;
  background-color: hsl(277, 64%, 60%);
  border-radius: 0 10px 10px 0;
}
.portrait,
.desktop-image {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 0 10px 10px 0;
}
.desktop-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
  }

  .main-text {
    text-align: center;
    width: 100%;
    padding: 1.1rem;
  }
  .main-text h1 {
    font-size: 2rem;
  }
  .stats h2 {
    font-size: 1.6rem;
  }

  .purple-background {
    border-radius: 10px 10px 0px 0;
    height: 40%;
  }
  .mobile-image {
    border-radius: 10px 10px 0px 0;
    display:block;
    position: relative;
    width: 100%;
  }
  .desktop-image {
    display:none;
  }

  .stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }
  .stats h2 {
    margin-bottom: 8px;
  }
}
