@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  font-family: "Inter";
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.75);
  opacity: 0.8;
}

.container {
  display: flex;
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
  font-weight: 400;
  max-width: 1440px;
  min-height: 530px;
  width: 1320px;
}

.main-text {
  margin: auto;
  padding-right: 25px;
  text-align: left;
  max-width: 50%;
  width: 40%;
}
.insights {
  color: hsl(277, 64%, 61%);
}

.purple-background {
  position: relative;
  width: 50%;
  overflow: hidden;
  background-color: hsl(277, 64%, 60%);
  border-radius: 0 10px 10px 0;
}
.portrait {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 0 10px 10px 0;
}

ul {
  list-style: none;
  margin: 1.5px -40px;
}

.list {
  margin: 0;
  padding: 0;
}
.count {
  display: flex;
  color: hsl(0, 0%, 100%);
  font-size: 1.4em;
  justify-content: space-between;
  width: 26rem;
}

.type {
  display: flex;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1em;
  text-transform: uppercase;
  justify-content: space-between;
  width: 26rem; 
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 360px;
  }  
}
