@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark-gray: hsl(303, 10%, 53%);
  --light-gray: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --font-family:"League Spartan", sans-serif;
  --font-size : 15px;
}
